<!-- <div style="margin-bottom: 14px">
  <label *ngIf="label">{{ label }}</label>

  <div style="position: relative">
    <input
      [type]="inputType"
      [formControl]="control"
      [placeholder]="placeholder"
      style="width: 100%; padding: 10px; border-radius: 8px"
    />

    <button
      *ngIf="type === 'password'"
      type="button"
      (click)="showPass = !showPass"
      style="position: absolute; right: 10px; top: 50%"
    >
      {{ showPass ? '🙈' : '👁️' }}
    </button>
  </div>

  <p *ngIf="error" style="color: red">{{ error }}</p>
</div> -->

<div style="margin-bottom: 14px">
  <label *ngIf="label">{{ label }}</label>

  <div class="input-wrapper">
    <input [type]="inputType" [formControl]="control" [placeholder]="placeholder" />

    <button
      *ngIf="type === 'password'"
      type="button"
      (click)="showPass = !showPass"
      class="eye-btn"
    >
      {{ showPass ? '🙈' : '👁️' }}
    </button>
  </div>

  <p *ngIf="error" style="color: red">{{ error }}</p>
</div>
